.mainContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.colorsContainer {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
    /* linear-gradient(310deg, rgba(2,0,36,0.8828781512605042) 0%, rgba(33,97,11,0.6811974789915967) 56%, rgba(72,93,20,1) 100%); */
}

.backgroundsContainer {
    width: 65%;
    height: 100%;
    background-image: url('images/sever-gory-more-nebo-noch-severnoe-siianie.jpg');
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    background-size: cover;
}


button {
    height: 30px;
    width: 50px;
}

.btn1 {
    margin-top: -30px;
}

.btn2 {
    margin-top: 30px;
}

.toUp {
    transition-duration: 2s;
}

.text {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


h2 {
    color: antiquewhite;
    font-size: 24px;
}

p {
    color: aliceblue;
    font-size: 12px;
}